.app {
  /* App styles here */
}

.logo img {
  height: 50px !important;
  width: auto !important;
  margin: 25px;
}

.headerBar {
  background: rgb(255, 255, 255);
}

.MuiChip-root {
  background-color: #027038 !important;
  color: #ffffff !important;
}