.logo img {
  height: 50px !important;
  width: auto !important;
  margin: 25px;
}

.headerBar {
  background: rgb(255, 255, 255);
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  min-height: 0;
}